<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planning Poker</title>
    <link rel="stylesheet" href="css/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/socketio/socket.io.js"></script>

    <script src="js/app.js"></script>
  </head>
  <body ng-app="planningPokerApp" ng-controller="everythingController">
    <div id="current-user">
      <p>User 0</p>
    </div>

    <div class="row">
      <div class="large-12 columns text-center">
        <h1>Planning Poker</h1>

        <h2>Room 1</h2>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <a class="button">Story</a>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns" ng-controller="roundController">
        <a class="button" ng-click="roundStartedClicked()">Start Round</a>
      </div>
    </div>

    <div class="row" ng-controller="usersController">

      <div ng-repeat="user in users" class="small-6 medium-3 large-2 columns" ng-class="{'end':$last}">
        <div class="panel radius {{user.color}}">
          <div>
            <h4 class="white-text text-center">{{user.name}}</h4>
          </div>

          <div>
            <h5 class="white-text text-center">8</h5>
          </div>
        </div>
      </div>

    </div>

    <div ng-controller="votingWidgetController">
      <div on-button-clicked="onVote" voting-widget></div>
    </div>

  </body>
</html>
