<div class="row">

  <div class="small-12 medium-6 large-4 columns medium-centered">
    <div class="panel">
      <div class="row">
        <div class="small-4 columns">
          <a class="button expand">0</a>
        </div>

        <div class="small-4 columns">
          <a class="button expand">1/2</a>
        </div>

        <div class="small-4 columns">
          <a class="button expand">1</a>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <a class="button expand">2</a>
        </div>

        <div class="small-4 columns">
          <a class="button expand">3</a>
        </div>

        <div class="small-4 columns">
          <a class="button expand">5</a>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <a class="button expand">8</a>
        </div>

        <div class="small-4 columns">
          <a class="button expand">13</a>
        </div>

        <div class="small-4 columns">
          <a class="button expand">21</a>
        </div>
      </div>
    </div>
  </div>

</div>
