<div class="row">

  <div class="small-12 medium-6 large-4 columns medium-centered">
    <div class="panel">
      <div class="row">
        <div class="small-4 columns">
          <a class="button expand" ng-click="buttonClicked(0)">0</a>
        </div>

        <div class="small-4 columns">
          <a class="button expand" ng-click="buttonClicked(0.5)">1/2</a>
        </div>

        <div class="small-4 columns">
          <a class="button expand" ng-click="buttonClicked(1)">1</a>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <a class="button expand" ng-click="buttonClicked(2)">2</a>
        </div>

        <div class="small-4 columns">
          <a class="button expand" ng-click="buttonClicked(3)">3</a>
        </div>

        <div class="small-4 columns">
          <a class="button expand" ng-click="buttonClicked(5)">5</a>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <a class="button expand" ng-click="buttonClicked(8)">8</a>
        </div>

        <div class="small-4 columns">
          <a class="button expand" ng-click="buttonClicked(13)">13</a>
        </div>

        <div class="small-4 columns">
          <a class="button expand" ng-click="buttonClicked(21)">21</a>
        </div>
      </div>
    </div>
  </div>

</div>
