extends ../layout

block content
	h1 Oh, hi there
	button#start-round Start round
	button#vote Vote
	table
		thead
			tr
				td Event
				td Data
		tbody#event-data



	script.
		function outputData(name, data) {
			var row = document.createElement('tr');
			var nameCell = document.createElement('td');
			var dataCell = document.createElement('td');

			nameCell.innerHTML = name;
			dataCell.innerHTML = JSON.stringify(data);

			row.appendChild(nameCell);
			row.appendChild(dataCell);

			document.getElementById("event-data").appendChild(row);
		}

		function startRound() {
			socket.emit('startround', {name: "a tid story"}, function(error) {
				if (error) {
					outputData('startround - failed', {error: true});
				} else {
					outputData('startround - succeeded', {error: false});
				}
			});
		}

		function vote() {
			socket.emit('vote', {estimate: 5});
		}

		socket = io.connect('http://localhost:3000');
		socket.emit('join', {name: Math.random(), colour: "blue"});
		socket.on('roomstatus', function(room){outputData('roomstatus', room)});
		socket.on('joined',function(user){
			outputData('joined', user);
		});
		socket.on("exited", function(user){
			outputData('exited', user);
		});

		socket.emit('createstory',{name:"a tid story"}, function(error) {
			if (error) {
				outputData('createstory - failed', {error: true});	
			} else {
				outputData('createstory - succeeded', {error: false});
			}
		});

		socket.on("createdstory",function(story){
			outputData('createdstory', story);
		});

		socket.on('startedround', function(round){outputData('startedround', round)});
		socket.on('endedround', function(round){outputData('endedround', round)});

		document.getElementById('start-round').addEventListener('click', startRound);
		document.getElementById('vote').addEventListener('click', vote);